{% extends 'base.html.twig' %}

{% block body %}
    {% if success_msg is defined %}
        <h2>{{ success_msg }}</h2>
    {% endif %}

    <div class="container" style="margin-bottom: 30px">

    </div>

    {% if torrents %}
        <div class="container torrent-list">
            <a class="pixel-font" href="{{ path('torrent_file_create') }}">{{ 'Load Torrent'|trans }}</a>
            <div class="filter" style="margin: 20px 0 40px 0">
                {{ form_start(filter) }}
                {{ form_row(filter.title) }}
                {{ form_row(filter.category) }}
                {{ form_row(filter.status) }}
                {{ form_row(filter.submit) }}
                {{ form_end(filter) }}
            </div>
            <hr>
            {% for torrent in torrents %}
                <div class="item" data-torrent="{{ torrent.id }}" data-title="{{ torrent.title }}">
                    <a href="{{ path('torrent_profile', {id: torrent.id}) }}">
                        <span style="width: 85%">{{ torrent.title }}</span>
                        <span style="width: 13%">{{ torrent.status }}</span>
                        <span style="width: 12%">{{ torrent.createdAt|date("d/m/Y") }}</span>
                    </a>
                </div>
            {% endfor %}

            <div class="navigation" style="text-align: center">
                {{ knp_pagination_render(torrents) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}

{% endblock %}